In [6]:
import pandas as pd

rent = [1500,1700,900,850,1000,950]

df = pd.DataFrame(rent)

In [4]:
display(df.describe())

                 0
count     6.000000
mean   1150.000000
std     357.770876
min     850.000000
25%     912.500000
50%     975.000000
75%    1375.000000
max    1700.000000

In [5]:
display(df.std())

0    357.770876
dtype: float64